<section>
  <div class="linesHeader">
    <button class="logoutBtn u-pull-left" ng-click="linesIndex.logout()">Logout</button>

    <p class="headingTitle">Twitter4London</p>
    <img ui-sref="usersEdit" ui-sref-active="active" class="settings" src="../images/settings.png" alt="settings" />
  </div>
  <!-- <div class="container"> -->

        <div class="toggle">
          <button class="buttonAll" ui-sref="linesIndex" ui-sref-active="active">All</button>
          <button class="buttonFrequent" ui-sref="linesFavIndex" ui-sref-active="active">Frequent</button>
        </div>
        <div>
          <ul>
            <li ng-repeat="line in linesIndex.all">
              <img src="../images/underground-logo.png" alt="" />
              <a class="linesLink" ui-sref="linesShow({ tflId: line.tflId })">
                <strong>{{ line.name }} Line:</strong> {{ line.status }} {{ line.severity }}
              </a>
            </li>
          </ul>
        </div>
      </div>



  <!-- </div> -->
  </ul>
  <!-- <button ui-sref="usersEdit" ui-sref-active="active">Settings</button> -->

</section>
