  <div class="linesHeader">
    <button class="backBtn" ui-sref="linesIndex">Back</button>
    <p class="headingTitle">Twitter4London</p>
    <img ui-sref="usersEdit" ui-sref-active="active" class="settings" src="../images/settings.png" alt="settings" />
  </div>
  <div class="toggle">
  <h2 class="newMessages">New Message</h2>


  <button class="messagesBtn" ui-sref="messagesIndex">See Messages</button>
  </div>

  {{message.newMessage}}

  <form novalidate ng-submit="message.addMessage()">
    <div class="row">
      <label>Message</label>
      <textarea class="u-full-width messageTxt" type="text" placeholder="Enter your message here" ng-model="message.newMessage.messageText"></textarea>
    </div>

    <button class="loginBtn">Submit</button>
  </form>
