<div class="hero">
  <h4 class="registerWith">New Message</h4>

  <button ui-sref="linesIndex">Go Back</button>
  <button ui-sref="messagesIndex">See Messages</button>

  {{message.newMessage}}

  <form novalidate ng-submit="message.addMessage()">
    <div class="row">
      <label>Message</label>
      <textarea class="u-full-width" type="text" placeholder="Enter your message here" ng-model="message.newMessage.messageText"></textarea>
    </div>

    <button class="loginBtn">Submit</button>
  </form>
</div>
