@media (min-width: 320px) {
.container {
  padding: 0;
}

.linesHeader {
  background-color: #21314d;
  height: 45px;
  margin-bottom: 1px;
}

.headingTitle {
  color: white;
  display: inline;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 22px;
  text-align: center;
}

.settings {
  height: 30px;
  display: block;
  padding-bottom: 15px;
  padding-top: 5px;
  float: right;
  padding-right: 5px;
}



.hero {
  height: 100vh;
  background-image:  url('../images/lightpassenger.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  text-align: center;
}


h4.loginWith, h4.registerWith, h4.editUser {
  font-size: 26px;
  color: white;
  text-align: center;
  padding: inherit;
  padding-top: 80px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 20px;
}

// input.u-full-width {
//   width: 375px;
//   height: 40px;
//   margin-bottom: 10px;
//   font-size: 14px;
// }

.OR {
  font-size: 14px;
  color: white;
}


label {
  font-size: 16px;
  padding-bottom: 7px;
  color: white;


}

.loginBtn, .updateBtn, .goToAppBtn {
  margin-top: 30px;
  width: 200px;
  height: 45px;
  font-size: 20px;
  border-radius: 0 0 5px 5px;
  color: white;
  background-color: #21314d;
  border: none;

}

// , .frequentLinesBtn {
//   margin-top: 30px;
//   width: 250px;
//   height: 45px;
//   font-size: 20px;
//   border-radius: 0 0 5px 5px;
//   color: white;
//   background-color: #21314d;
//   border: none;
//   display: block;
//   margin-left: 50px;
// }

.registerBtn {
  font-size: 22px;
  text-decoration: none;
  color: white;
}

.fbImg, .twitterImg, .instagramImg {
  height: 60px;
  padding-left: 9px;
  padding-right: 9px;
}

.twitterLogo {
  height: 10px;
}

h2.linesShow {
  margin-bottom: 1px;
  padding-left: 5px;
}


  input.u-full-width {
    width: 300px;
    height: 35px;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .loginBtn {
    margin-top: 20px;
    width: 200px;
    height: 45px;
    font-size: 20px;
    border-radius: 0 0 5px 5px;
    color: white;
    background-color: #21314d;
    border: none;
  }
  h4.loginWith, h4.registerWith {
    font-size: 26px;
    color: white;
    text-align: center;
    padding: inherit;
    padding-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
  }


.allLines {
  border: 3px solid black;
}

ul {
  // list-style-image: url('../images/underground-logo.png');
  padding-top: 10px;
  padding-left: 10px;
  list-style: none;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}

ul li:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 10px;
    background: #e1e8ed;
}


.buttonAll,  {
  width: 200px;
  height: 45px;
  font-size: 16px;
  color: white;
  padding: 5px 50px;
  margin-left: 60px;
  background-color: #21314d;
  border: none;
}

.buttonFrequent {
  width: 200px;
  height: 45px;
  font-size: 16px;
  color: white;
  padding: 5px 30px;
  margin-left: 10px;
  background-color: #21314d;
  border: none;
}

}

.toggle {
  background-color: #e1e8ed;
  padding-top: 5px;
  padding-bottom: 5px;
}

h2.confirmationTitle {
  font-size: 22px;
  padding-top: 10px;
  color: white;

}

.tick {
  background-position: center;
  display: block;
  height: 300px;
}
